/* @font-face {
	font-family: 'PixelMplus10-Regular';  // declare the font name
	src: url('src/font/PixelMplus10-Regular.ttf') format('truetype');
} */

/* Wesbite wide stuff start*/
body {
	/* font-family: 'PixelMplus10-Regular', Fallback, sans-serif; */
  font-family: 'VT323', monospace;
  margin: 0;
  background: #f8ebcc;
  font-size: 22px;
}
/* Website wide stuff end */

/* Header Start */
.header{
  text-align: center;
  font-size: 60px;
  color: #643800;
}

.header p{
  margin: 0;
  margin-bottom: 35px;
  margin-top: 20px;
}
/* Header End  */

/* Navbar start  */
.navbar {
    overflow: hidden;
    background-color: #8d2011;
    text-align: center;
    width: 100%;
}

.navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #c28a2b;
    color: black;
}
/* Navbar End */

/* Game container start */
.square-box{
  height: 425px;
  max-width: 840px;
  width: 70%;
  margin: 0 auto;
  overflow: hidden;
  background-image: url('https://i.redd.it/o0od47n48c3y.gif');
  background-size: cover;
  display: block;
  outline: 5px dashed #677b63;
}
.square-box:before{
    content: "";
    display: block;
    padding-top: 20%;
}

.square-content div {
   display: table;
   width: 100%;
   height: 75%;
}
.square-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    margin: 0;
}

.square-content a{
    text-decoration: none;
    color: white;
    font-size: 70px;
    margin: 0;
}

.square-content a:hover{
    color: red;
    text-decoration: underline;
}

.bottom-txt{
  text-align: center;
}

.bottom-txt b{
  color: red;
}
/* Game contain end  */


/* Footer start */
.footer {
 position: fixed;
 left: 0;
 bottom: 0;
 margin-top: 10px;
 width: 100%;
 background-color: #8d2011;
 color: white;
 text-align: center;
}
/* Footer end */

/* About text start */
.text{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.text p{
    line-height: 150%;
}

.text code{
  background-color: #eff0f1;
  font-family: 'VT323', monospace;
  font-size: 22px;
}

.gif{
  height: 280px;
  max-width: 840px;
  width: 50%;
  margin: 0 auto;
  overflow: hidden;
  background-image: url('https://i.redd.it/o0od47n48c3y.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  outline: 5px dashed #677b63;
}
/* About text end */

/* Read me start */
.codetxt{
  overflow: auto;
  background-color: #eff0f1;
  /* color: #006500; */
}

.footer-re {
 padding-top: 10px;
 padding-bottom: 10px;
 left: 0;
 bottom: 0;
 margin-top: 10px;
 width: 100%;
 background-color: #8d2011;
 color: white;
 text-align: center;
}
/* Read me end  */
